<div id="user-container">
<h1> All Users! </h1>
</div>
<div class="userpage">
<% @users.each do |user| %>
<ul>
  <li><%= user.first_name %> <%= user.last_name %>  |  <%= user.email %></li>
</ul>
<% end %>
</div>