<% unless @user.errors.messages.empty? %>
    <% @user.errors.messages.each do |field, error| %>
      <div id="errors">
      <%= "#{field.capitalize}: #{error.first}" %><br />
      </div>
    <% end %>
<% end %>

<div id="join">
  
  <h3> Join PoorPal</h3>
  <hr></hr>
  <%= render "form" %>

</div>

