<div id="errors">
<% unless @user.errors.messages.empty? %>
    <% @user.errors.messages.each do |field, error| %>
      <%= "#{field.capitalize}: #{error.first}" %><br />
    <% end %>
<% end %>

<% unless @message.nil? %>
<%= @message %>
<% end %>
</div>

<div id="join">
  
  <h1> Join PoorPal</h1>
  <hr></hr>
  <%= render "form" %>

</div>

