<h1><%= @user.first_name %>'s Shopping Lists </h1>
<hr></hr>

<% @shopping_lists.each do |list| %>
<div id="join">
<h3><%= link_to "#{list.title}", user_shopping_list_products_path(@user.id, list.id) %></h3>
</div>
<% end %>

