* {
    margin: 0;
    padding: 0;
 /*   border: 1px solid red;*/
}

body {
  background: #326D95;
}

header {
    background: #29497A;
    width: 100%;
    color: lightgrey;
    line-height: 1em;
}
#login {
  width: 450px;
  display: inline-block;
  padding-left: 1em;
  padding-bottom: 8px;
}

.bar_right {
  display: inline;
  float: right;
  padding-right: 1em;
}

.bar_right a{
  color:white;
}

#splashpage {
  width: 60em;
  margin: 0 auto;
  box-shadow: inset 0px 0px 300px 100px lightgrey;
  border-radius: 20px;
}

#welcome_title {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  color: #29497A;
  text-shadow: 3px 2px 2px rgba(255, 255, 255, 1);
  margin-left: -30px;
  text-align: center;
  font-size: 30px;
  height: 2em;
}

#preview-container {
  height: 170px;
  margin-top: 20px;
  text-align: center;
  letter-spacing: 100px;
}

#preview-container div{
  margin-top: 20px;
  height: 150px;
  width: 150px;
  display: inline-block;
}

.search {
  background: url('search.png');
  background-size: cover;
}

.list {
  background: url('list.png');
  background-size: cover;
}

.email {
  background: url('Email.png');
  background-size: cover;
}

#caption {
  background-color: #326D95;
  padding: 1em;
  font-size: 19px;
  margin-left: -50px;
  font-family: helvetica-light;
  text-align: center;
  color: white;
}
#caption ul li{
  list-style-type: none;
  display: inline;
  padding: 2em;
}

#subtitle {
  height: 225px;
  padding-left: 3em;
}
.phrase {
  font-family: serif;
  font-style: italic;
  margin-top: 5em;
  color: #29497A;
  font-size: 17px;
  width: 23em;
  display: inline-block;

}

.phrase_photo {
  background: url("welcome_image.gif");
  background-size: cover;
  background-position: 0 -100px;
  float: right;
  height: 225px;
  width: 27em;
  border-radius: 20px;
}
footer {
  padding-top: 2em;
  text-align: center;
  color: lightgrey;
}
