/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background-image: url("welcome_image.jpg");
  background-size: cover;
  background-position: 0 -200px;
}
hr {
  width: 525px;
}

header {
  margin-left: -8px;
  width: 100%;  
  position: absolute;
  top: 0;
  background-color: lightblue;
  height: 45px;
  border-bottom: 2px solid slategrey;

}
.products {
  margin: 0 auto;
  width: 525px;
  border-radius: 5px;
  border: 2px solid slategrey;
  padding: 10px;
  box-shadow: inset 0px 0px 277px 3px #B3B3B3;
}


#login {
  float: left;
  color: #0066CC;
  background: lightblue;
  padding: 5px;
  margin-top: 1px;
  border-radius: 10px;
  font-family: 'Acme', sans-serif;
  font-weight: 100;
}

#links {
  position: relative;
  float: right;
  top: 3px;
  right: 10px;
}

span {
  color: blue;
}
.logo {
  font-size: 25px;
  color:#FFCC66;
  padding: 5px;
  border-radius: 10px;
  margin-left: 10px;
  font-style: italic;
  letter-spacing: 2px;
  text-shadow: 0 0 10px blue;
}

.newlist {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: inset 0px 0px 277px 3px #B3B3B3;

}

h1 {
  position: relative;
  top: 25px;
  font-family: 'Acme', sans-serif;
  font-style: italic;
  font-size: 40px;
  color: #003399;
  letter-spacing: 2px;
  text-align: center;
}
h2 {
  font-size: 50px;
  font-style: italic;
  font-family: 'Acme', sans-serif;

}

li {
  margin: 0 auto;
  width: 500px;
}

.logout {
  color: #0066CC;
  border: 3px double white;
  float: right;
  background-color: lightblue;
  padding: 5px;
  letter-spacing: 2px;

}

#welcome_title {
  color:#FFCC66;
  background-image: url("joinbackground.jpg");
  margin: 155px 520px;
  text-align: center;
  border: 4px double white;
  width: 180px;
  height: 180px;
  border-radius: 360px;
  padding: 20px;
}
#welcome_title h2 {
  margin-top: 55px;
  margin-left: -10px;
}

a {
  color:#0066CC;
  font-family: 'Acme', sans-serif;
  text-decoration: none;
}
button {
  background-color: lightblue;
  border-radius: 5px;
  color: red;
  width: 100px;
  font-size: 12px;
}

#formstyle {
  font-size: 18px;
}

form input{
  background-color: lightblue;
  width: 150px;
  font-family: 'Acme', sans-serif;
  color: #0066CC;
  font-size: 15px;
}

fieldset {
  width: 400px;
  text-align: right;
  margin: 0 auto;

}

#subtitle {
  position: absolute;
  margin-top: -475px;
  margin-left: 30px;
  color: royalblue;
  font-style: italic;
}
#userpage {
  margin-top: 100px;
}
.products button{
  width: 50px;
}

#join {
  text-align: center;
}
#errors {
  color: red;
  text-align: center;
}
