* {
    margin: 0;
    padding: 0;
}

body {
  background: #326D95;
}

header {
    background: #29497A;
    width: 100%;
    color: lightgrey;
    line-height: 1em;
}
#login {
  width: 450px;
  display: inline-block;
  padding-left: 1em;
  margin-top: 2px;
  padding-bottom: 8px;
}
#login a {
  text-decoration: none;
}

.bar_right {
  display: inline;
  float: right;
  padding-right: 1em;
}

#searchbar {
  text-align: center;
}

.message {
  text-align: center;
  padding-top: 2px;
  letter-spacing: 1px;
}

.message a {
  color: black;
}

.message ul li{
  width: 200px;
  margin: 10px auto;
  background-color: lightgrey;
  border-radius: 10px;
  list-style-type: none;
}

#products {
  margin: 0 auto;
  width: 525px;
  border-radius: 5px;
  border: 2px solid slategrey;
  padding: 10px;
  box-shadow: inset 0px 0px 277px 3px #B3B3B3;
}

.newlist {
  text-align: center;
  margin-top: 20px;
}

.bar_right a{
  color:white;
}

#splashpage {
  width: 60em;
  margin: 0 auto;
  box-shadow: inset 0px 0px 300px 100px lightgrey;
  border-radius: 20px;
}

#links {
  float: right;
  padding-right: 20px;
  padding-top: 2px;
  letter-spacing: 1px;
}

#links a {
  text-decoration: none;
}

#welcome_title {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  color: #29497A;
  text-shadow: 3px 2px 2px rgba(255, 255, 255, 1);
  margin-left: -30px;
  text-align: center;
  font-size: 30px;
  padding-bottom: 5px;
  height: 2em;
}

#join-container {
  width: 450px;
  margin: 20px auto;
  padding: 1em;
  border-radius: 10px;
  box-shadow: inset 0px 0px 300px 100px lightgrey;
  border: 2px solid black;
}

#join {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  color: #29497A;
  text-shadow: 3px 2px 2px rgba(255, 255, 255, 1);
  text-align: center;
  font-size: 20px;
  padding-bottom: 5px;
  height: 2em;
}

#joinphrase {
  font-family: serif;
  text-align: center;
  font-style: italic;
  margin-top: 5em;
  color: #29497A;
  font-size: 18px;
  letter-spacing: 1px;
}

#joinform {
  width: 350px;
  margin: 50px auto;
  text-align: right;
}

#joinform h4 {
  color: #29497A;
  font-family: serif;
  font-style: italic;
  font-size: 20px;
}

#joinform fieldset {
  padding: 1em;
  border: 3px solid white;
  font-size: 18px;
  background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0.63, #91B3C2),
  color-stop(1, #AED7E9)
);
background-image: -o-linear-gradient(bottom, #91B3C2 63%, #AED7E9 100%);
background-image: -moz-linear-gradient(bottom, #91B3C2 63%, #AED7E9 100%);
background-image: -webkit-linear-gradient(bottom, #91B3C2 63%, #AED7E9 100%);
background-image: -ms-linear-gradient(bottom, #91B3C2 63%, #AED7E9 100%);
background-image: linear-gradient(to bottom, #91B3C2 63%, #AED7E9 100%);
}

#preview-container {
  height: 170px;
  margin-top: 20px;
  text-align: center;
  letter-spacing: 100px;
}

#preview-container div{
  margin-top: 20px;
  height: 150px;
  width: 150px;
  display: inline-block;
}

#user-container {
  text-align: center;
}
#user-container h1 {
  background-color: #B3DCE6;
  font-family: 'Raleway', sans-serif;

}

.userpage {
  margin: 40px auto;
  width: 400px;
}

.userpage ul li a{
  color: black;
  font-size: 25px;
  text-decoration: none;
}

.userpage ul li{
  height: 40px;
  margin-top: 10px;
  padding: 20px;
  letter-spacing: 1.5px;
  border: 3px solid black;
  border-radius: 15px;
  list-style-type: none;
  background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, #A3B4BA),
  color-stop(1, #498CC7)
);
background-image: -o-linear-gradient(bottom, #A3B4BA 0%, #498CC7 100%);
background-image: -moz-linear-gradient(bottom, #A3B4BA 0%, #498CC7 100%);
background-image: -webkit-linear-gradient(bottom, #A3B4BA 0%, #498CC7 100%);
background-image: -ms-linear-gradient(bottom, #A3B4BA 0%, #498CC7 100%);
background-image: linear-gradient(to bottom, #A3B4BA 0%, #498CC7 100%);
}

.search {
  background: url('search.png');
  background-size: cover;
}

.list {
  background: url('list.png');
  background-size: cover;
}

.email {
  background: url('Email.png');
  background-size: cover;
}

#caption {
  background-color: #326D95;
  padding: 1em;
  font-size: 19px;
  margin-left: -50px;
  font-family: helvetica-light;
  text-align: center;
  color: white;
}
#caption ul li{
  list-style-type: none;
  display: inline;
  padding: 2em;
}

#subtitle {
  height: 225px;
  padding-left: 3em;
}
.phrase {
  font-family: serif;
  font-style: italic;
  margin-top: 5em;
  color: #29497A;
  font-size: 17px;
  width: 23em;
  display: inline-block;

}
a {
  color: lightgrey;
}

.phrase_photo {
  background: url("welcome_image.gif");
  background-size: cover;
  background-position: 0 -100px;
  float: right;
  height: 225px;
  width: 27em;
  border-radius: 20px;
}
footer {
  padding-top: 2em;
  text-align: center;
  color: lightgrey;
}

.product_table {
  margin:0px auto;
  width:80%;
  border:1px solid #ffffff;
  
  -moz-border-radius-bottomleft:5px;
  -webkit-border-bottom-left-radius:5px;
  border-bottom-left-radius:5px;
  
  -moz-border-radius-bottomright:5px;
  -webkit-border-bottom-right-radius:5px;
  border-bottom-right-radius:5px;
  
  -moz-border-radius-topright:5px;
  -webkit-border-top-right-radius:5px;
  border-top-right-radius:5px;
  
  -moz-border-radius-topleft:5px;
  -webkit-border-top-left-radius:5px;
  border-top-left-radius:5px;
}.product_table table{
    border-collapse: collapse;
        border-spacing: 0;
  width:100%;
  height:100%;
  margin:0px;padding:0px;
}.product_table tr:last-child td:last-child {
  -moz-border-radius-bottomright:5px;
  -webkit-border-bottom-right-radius:5px;
  border-bottom-right-radius:5px;
}
.product_table table tr:first-child td:first-child {
  -moz-border-radius-topleft:5px;
  -webkit-border-top-left-radius:5px;
  border-top-left-radius:5px;
}
.product_table table tr:first-child td:last-child {
  -moz-border-radius-topright:5px;
  -webkit-border-top-right-radius:5px;
  border-top-right-radius:5px;
}.product_table tr:last-child td:first-child{
  -moz-border-radius-bottomleft:5px;
  -webkit-border-bottom-left-radius:5px;
  border-bottom-left-radius:5px;
}.product_table tr:hover td{
  color: blue;
}
.product_table tr:nth-child(odd){ background-color:#b2b2b2; }
.product_table tr:nth-child(even)    { background-color:#ffffff; }.product_table td{
  vertical-align:middle;
  
  
  border:1px solid #ffffff;
  border-width:0px 1px 1px 0px;
  text-align:left;
  padding:9px;
  font-size:14px;
  font-family:Verdana;
  font-weight:normal;
  color:#000000;
}.product_table tr:last-child td{
  border-width:0px 1px 0px 0px;
}.product_table tr td:last-child{
  border-width:0px 0px 1px 0px;
}.product_table tr:last-child td:last-child{
  border-width:0px 0px 0px 0px;
}
.product_table tr:first-child td{
    background:-o-linear-gradient(bottom, #b2b2b2 5%, #4c4c4c 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b2b2b2), color-stop(1, #4c4c4c) );
  background:-moz-linear-gradient( center top, #b2b2b2 5%, #4c4c4c 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#b2b2b2", endColorstr="#4c4c4c");  background: -o-linear-gradient(top,#b2b2b2,4c4c4c);

  background-color:#b2b2b2;
  border:0px solid #ffffff;
  text-align:center;
  border-width:0px 0px 1px 1px;
  font-size:17px;
  font-family:Times New Roman;
  font-weight:bold;
  color:#ffffff;
}
.product_table tr:first-child:hover td{
  background:-o-linear-gradient(bottom, #b2b2b2 5%, #4c4c4c 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b2b2b2), color-stop(1, #4c4c4c) );
  background:-moz-linear-gradient( center top, #b2b2b2 5%, #4c4c4c 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#b2b2b2", endColorstr="#4c4c4c");  background: -o-linear-gradient(top,#b2b2b2,4c4c4c);

  background-color:#b2b2b2;
}
.product_table tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}
.product_table tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}
