body {
  background-image: url("welcome_image.jpg");
  background-repeat: no-repeat;
  background-size: 1100px;
  background-position: right;
}

h1 {
  font-family: 'Acme', sans-serif;
  font-style: italic;
  font-size: 40px;
  letter-spacing: 2px;
}


#login {
  float: left;
  color: #0066CC;
  background: lightblue;
  border: 4px double white;
  padding: 5px;
  margin-top: -170px;
  border-radius: 10px;
  font-family: 'Acme', sans-serif;
  font-weight: 100;
}
.logout {
  color: white;
  border: 2px solid slategrey;
  float: right;
  margin: -160px auto;
  background-color: lightblue;
  padding: 5px;

}
#welcome_title {
  color:#FFCC66;
  background-image: url("joinbackground.jpg");
  margin: 175px 620px;
  text-align: center;
  border: 4px double white;
  width: 150px;
  height: 150px;
  border-radius: 360px;
  padding: 20px;
}

a {
  color:#0066CC;
  font-family: 'Acme', sans-serif;
  text-decoration: none;
}
button {
  background-color: lightblue;
  border-radius: 30px;
  font-size: 13px;
}

#loginerror {
  margin-top: 400px
}

#formstyle {
  font-size: 18px;
}
form input{
  background-color: lightblue;
  width: 150px;
  font-family: 'Acme', sans-serif;
  color: #0066CC;
  font-size: 15px;
}
legend {
  font-size: 15;
  text-align: left;
}
fieldset {
  width: 300px;
  text-align: right;
  margin: 0 auto;

}
#join {
  text-align: center;
}
#errors {
  color: red;
  text-align: center;
}