<div id="join">
<h1> Look For Your Products Here! </h1>

<form method="GET" action="/products/search">
  <label for="search_input">Search Products:</label>
  <input type="text" name="search_input" id="search_input_field" />
  <input type="submit" />
</form>
</div>